.sm-alternative-results {
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    opacity: 1;
    z-index: 1002;
    min-width: 280px;

    > div {
        max-height: 80vh;
    }
}

.sm-alternative-results-open {
    transform: translate(0);
    // transform: translateX(-100%);
    opacity: 1;
}
