$barRadius: 4px;
$hamburgerWidth: 24px;
$spacing: 3px;
$barHeight: 3px;

$translateXRight: calc($hamburgerWidth * 0.2);
$beforeTranslateYRight: calc($hamburgerWidth * 0.25);
$afterTranslateYRight: calc($hamburgerWidth * -0.25);
$translateXLeft: calc($hamburgerWidth * -0.2);
$beforeTranslateYLeft: calc($hamburgerWidth * -0.25);
$afterTranslateYLeft: calc($hamburgerWidth * 0.25);

.sm-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $hamburgerWidth;
    height: $barHeight * 3 + $spacing * 2;
    // transform: translateX(200%);
}

.sm-arrow-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: $barHeight * 3 + $spacing * 2;
    width: $hamburgerWidth;

    &:hover {
        opacity: 0.7;
    }
}

.sm-arrow-inner {
    top: 50%;
    display: block;
    position: absolute;
    border-radius: $barRadius;
    margin-top: calc(barHeight / -2);
    width: $hamburgerWidth;
    height: $barHeight;

    &::before {
        content: '';
        background-color: inherit;
        position: absolute;
        display: block;
        border-radius: $barRadius;
        width: $hamburgerWidth;
        height: $barHeight;
        top: calc($spacing + $barHeight) * -1;
        transition: top 0.1s 0.1s ease,
            transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &::after {
        content: '';
        background-color: inherit;
        position: absolute;
        display: block;
        border-radius: $barRadius;
        width: $hamburgerWidth;
        height: $barHeight;
        bottom: calc($spacing + $barHeight) * -1;
        transition: bottom 0.1s 0.1s ease,
            transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.arrow-right > div > div {
    &::before {
        top: 0;
        transform: translate3d($translateXRight, $beforeTranslateYRight, 0)
            rotate(-45deg) scale(0.7, 1);
        transition: top 0.1s ease,
            transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    &::after {
        bottom: 0;
        transform: translate3d($translateXRight, $afterTranslateYRight, 0)
            rotate(45deg) scale(0.7, 1);
        transition: bottom 0.1s ease,
            transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
}

.arrow-left > div > div {
    &::before {
        top: 0;
        transform: translate3d($translateXLeft, $beforeTranslateYLeft, 0)
            rotate(-45deg) scale(0.7, 1);
        top: 0;
        transform: translate3d($translateXLeft, $beforeTranslateYLeft, 0)
            rotate(-45deg) scale(0.7, 1);
        transition: top 0.1s ease,
            transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    &::after {
        bottom: 0;
        transform: translate3d($translateXLeft, $afterTranslateYLeft, 0)
            rotate(45deg) scale(0.7, 1);
        transition: bottom 0.1s ease,
            transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
}
