.sm-hamburger-menu {
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    opacity: 0;
    z-index: 1005;
}

.sm-hamburger-menu-open {
    transform: translate(0);
    opacity: 1;
}
