/*
! tailwindcss v3.0.7 | MIT License | https://tailwindcss.com
*/ /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: currentColor; /* 2 */
}

::before,
::after {
    --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
    tab-size: 4; /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji'; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
    outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
    resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
    display: none;
}
*,
::before,
::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x))
        translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.right-0 {
    right: 0px;
}
.top-0 {
  top: 0px;
}
.left-0 {
    left: 0px;
}
.left-1\/2 {
    left: 50%;
}
.top-1\/2 {
    top: 50%;
}
.top-16 {
    top: 4rem;
}
<<<<<<< HEAD
.top-0 {
    top: 0px;
}
=======
>>>>>>> dev
.z-\[1002\] {
    z-index: 1002;
}
<<<<<<< HEAD
.z-\[1001\] {
    z-index: 1001;
}
.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
=======
.z-\[1003\] {
  z-index: 1003;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
>>>>>>> dev
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mr-5 {
    margin-right: 1.25rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.ml-3 {
    margin-left: 0.75rem;
}
<<<<<<< HEAD
.mt-10 {
    margin-top: 2.5rem;
}
=======
>>>>>>> dev
.mb-5 {
    margin-bottom: 1.25rem;
}
<<<<<<< HEAD
.ml-2 {
    margin-left: 0.5rem;
=======
.ml-1 {
  margin-left: 0.25rem;
>>>>>>> dev
}
.mt-2 {
    margin-top: 0.5rem;
}
<<<<<<< HEAD
.ml-1 {
    margin-left: 0.25rem;
}
=======
>>>>>>> dev
.mr-2 {
    margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mt-8 {
    margin-top: 2rem;
}
.ml-12 {
    margin-left: 3rem;
}
.-mt-px {
    margin-top: -1px;
}
.ml-0 {
    margin-left: 0px;
}
.mr-0 {
    margin-right: 0px;
}
.mt-10 {
  margin-top: 2.5rem;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
  display: inline;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.hidden {
    display: none;
}
.h-\[40px\] {
    height: 40px;
}
.h-10 {
    height: 2.5rem;
}
.h-0\.5 {
    height: 0.125rem;
}
.h-0 {
    height: 0px;
}
<<<<<<< HEAD
.h-80 {
    height: 20rem;
=======
.h-5\/6 {
  height: 83.333333%;
}
.h-full {
  height: 100%;
>>>>>>> dev
}
.h-5 {
    height: 1.25rem;
}
.h-8 {
    height: 2rem;
}
.h-16 {
    height: 4rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-full {
    width: 100%;
}
.w-\[32px\] {
    width: 32px;
}
.w-10 {
    width: 2.5rem;
}
.w-5 {
    width: 1.25rem;
}
.w-8 {
    width: 2rem;
}
.w-auto {
    width: auto;
}
.w-11\/12 {
    width: 91.666667%;
}
.max-w-xl {
    max-width: 36rem;
}
.max-w-6xl {
    max-width: 72rem;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex-none {
    flex: none;
}
<<<<<<< HEAD
.grow-0 {
    flex-grow: 0;
}
=======
>>>>>>> dev
.grow {
    flex-grow: 1;
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: var(--tw-transform);
}
.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: var(--tw-transform);
}
.-translate-y-1\.5 {
    --tw-translate-y: -0.375rem;
    transform: var(--tw-transform);
}
.-translate-y-1 {
    --tw-translate-y: -0.25rem;
    transform: var(--tw-transform);
}
.translate-y-1\.5 {
    --tw-translate-y: 0.375rem;
    transform: var(--tw-transform);
}
.translate-y-1 {
    --tw-translate-y: 0.25rem;
    transform: var(--tw-transform);
}
.rotate-45 {
    --tw-rotate: 45deg;
    transform: var(--tw-transform);
}
.-rotate-45 {
    --tw-rotate: -45deg;
    transform: var(--tw-transform);
}
.transform {
    transform: var(--tw-transform);
}
.cursor-pointer {
  cursor: pointer;
}
.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-gray-100 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-divide-opacity));
}
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
<<<<<<< HEAD
.rounded-t {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
=======
>>>>>>> dev
.rounded-b {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
<<<<<<< HEAD
.border {
    border-width: 1px;
}
=======
>>>>>>> dev
.border-t {
    border-top-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.bg-current {
  background-color: currentColor;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
<<<<<<< HEAD
.bg-current {
    background-color: currentColor;
}
=======
>>>>>>> dev
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-8 {
    padding: 2rem;
}
.p-10 {
    padding: 2.5rem;
}
.p-6 {
    padding: 1.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
<<<<<<< HEAD
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
=======
>>>>>>> dev
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.pl-8 {
  padding-left: 2rem;
}
.pt-3 {
    padding-top: 0.75rem;
}
.pr-1 {
    padding-right: 0.25rem;
}
.pt-8 {
    padding-top: 2rem;
}
.text-center {
    text-align: center;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-medium {
    font-weight: 500;
}
<<<<<<< HEAD
.font-bold {
    font-weight: 700;
}
=======
>>>>>>> dev
.font-semibold {
    font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
}
.leading-7 {
    line-height: 1.75rem;
}
.leading-tight {
    line-height: 1.25;
}
.tracking-wider {
    letter-spacing: 0.05em;
}
<<<<<<< HEAD
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
=======
.text-stone-900 {
  --tw-text-opacity: 1;
  color: rgb(28 25 23 / var(--tw-text-opacity));
>>>>>>> dev
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}
<<<<<<< HEAD
.text-slate-800 {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}
.text-inherit {
    color: inherit;
}
.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
=======
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
>>>>>>> dev
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}
.text-inherit {
  color: inherit;
}
.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.text-stone-500 {
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity));
}
.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
    opacity: 0;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.ring-0 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
}
.ring-opacity-5 {
    --tw-ring-opacity: 0.05;
}
.transition {
    transition-property: color, background-color, border-color, fill, stroke,
        opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.duration-500 {
    transition-duration: 500ms;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-hamburger-menu {
<<<<<<< HEAD
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    opacity: 0;
    z-index: 1002;
=======
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  position: fixed;
  right: 0;
  opacity: 0;
  z-index: 1005;
>>>>>>> dev
}

.sm-hamburger-menu-open {
    transform: translate(0);
    opacity: 1;
}

.sm-alternative-results {
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    opacity: 1;
    z-index: 1002;
    min-width: 280px;
}
.sm-alternative-results > div {
    max-height: 80vh;
}

.sm-alternative-results-open {
    transform: translate(0);
    opacity: 1;
}

.sm-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 15px;
}

.sm-arrow-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 24px;
}
.sm-arrow-box:hover {
    opacity: 0.7;
}

.sm-arrow-inner {
    top: 50%;
    display: block;
    position: absolute;
    border-radius: 4px;
    margin-top: -1.5px;
    width: 24px;
    height: 3px;
}
.sm-arrow-inner::before {
    content: '';
    background-color: inherit;
    position: absolute;
    display: block;
    border-radius: 4px;
    width: 24px;
    height: 3px;
    top: -6px;
    transition: top 0.1s 0.1s ease,
        transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sm-arrow-inner::after {
    content: '';
    background-color: inherit;
    position: absolute;
    display: block;
    border-radius: 4px;
    width: 24px;
    height: 3px;
    bottom: -6px;
    transition: bottom 0.1s 0.1s ease,
        transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-right > div > div::before {
    top: 0;
    transform: translate3d(4.8px, 6px, 0) rotate(-45deg) scale(0.7, 1);
    transition: top 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.arrow-right > div > div::after {
    bottom: 0;
    transform: translate3d(4.8px, -6px, 0) rotate(45deg) scale(0.7, 1);
    transition: bottom 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.arrow-left > div > div::before {
    top: 0;
    transform: translate3d(-4.8px, -6px, 0) rotate(-45deg) scale(0.7, 1);
    transition: top 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.arrow-left > div > div::after {
    bottom: 0;
    transform: translate3d(-4.8px, 6px, 0) rotate(45deg) scale(0.7, 1);
    transition: bottom 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.gg-screen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 14px;
  border: 2px solid;
  border-radius: 3px;
  margin-top: -4px;
}

.gg-screen::after,
.gg-screen::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  top: 14px;
  left: 4px;
}

.gg-screen::before {
  width: 2px;
  height: 6px;
  top: 10px;
  left: 8px;
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-globe {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 100px;
  margin-left: -3px;
  margin-top: -7px;
}

.gg-globe::after,
.gg-globe::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-globe::before {
  top: 11px;
  border-right: 2px solid transparent;
  box-shadow: 0 2px 0, inset -2px 0 0;
  left: 1px;
  width: 6px;
  height: 2px;
}

.gg-globe::after {
  width: 16px;
  height: 10px;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid;
  border-top-color: transparent;
  right: -7px;
  bottom: -5px;
  transform: rotate(-35deg);
}

.visited\:text-purple-600:visited {
    --tw-text-opacity: 1;
    color: rgb(147 51 234 / var(--tw-text-opacity));
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
<<<<<<< HEAD
.hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
=======

.hover\:text-stone-500:hover {
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity));
>>>>>>> dev
}

.hover\:text-blue-800:hover {
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
<<<<<<< HEAD
@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    }
=======

.dark .dark\:bg-stone-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.dark .dark\:bg-emerald-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(52 211 153 / var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.dark .dark\:bg-stone-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(87 83 78 / var(--tw-bg-opacity));
}

.dark .dark\:bg-stone-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(68 64 60 / var(--tw-bg-opacity));
}

.dark .dark\:text-stone-400 {
  --tw-text-opacity: 1;
  color: rgb(168 162 158 / var(--tw-text-opacity));
}

.dark .dark\:text-stone-300 {
  --tw-text-opacity: 1;
  color: rgb(214 211 209 / var(--tw-text-opacity));
}

.dark .dark\:text-emerald-400 {
  --tw-text-opacity: 1;
  color: rgb(52 211 153 / var(--tw-text-opacity));
}

.dark .dark\:text-emerald-300 {
  --tw-text-opacity: 1;
  color: rgb(110 231 183 / var(--tw-text-opacity));
}

.dark .dark\:text-emerald-200 {
  --tw-text-opacity: 1;
  color: rgb(167 243 208 / var(--tw-text-opacity));
}

.dark .dark\:text-emerald-100 {
  --tw-text-opacity: 1;
  color: rgb(209 250 229 / var(--tw-text-opacity));
}

.dark .dark\:hover\:bg-stone-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.dark .dark\:hover\:text-emerald-300:hover {
  --tw-text-opacity: 1;
  color: rgb(110 231 183 / var(--tw-text-opacity));
}

.dark .dark\:hover\:text-emerald-400:hover {
  --tw-text-opacity: 1;
  color: rgb(52 211 153 / var(--tw-text-opacity));
}

@media (min-width: 480px) {

  .xs\:w-48 {
    width: 12rem;
  }
>>>>>>> dev
}

@media (min-width: 640px) {
    .sm\:items-center {
        align-items: center;
    }

<<<<<<< HEAD
    .sm\:justify-start {
        justify-content: flex-start;
    }
=======
  .sm\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }
>>>>>>> dev

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sm\:pt-0 {
        padding-top: 0px;
    }
}
<<<<<<< HEAD
@media (min-width: 768px) {
    .md\:block {
        display: block;
    }

    .md\:w-5\/6 {
        width: 83.333333%;
    }
=======

@media (min-width: 768px) {

  .md\:w-5\/6 {
    width: 83.333333%;
  }
>>>>>>> dev
}

@media (min-width: 1024px) {
    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 1280px) {
    .xl\:w-3\/6 {
        width: 50%;
    }
}
